body{
  width: 99vw;
  height: 99vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
h1{
  color: aliceblue;
}

.caliculator
{
  border: 1px solid;
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 2rem;
background-color: black;
border-radius: 25px;
}

.userinput
{
  width: 25rem;
  height: 5rem;
  font-size: 3rem;
  color: red;
}

.clearbtn
{
  width: 15rem;
padding: 1rem 0rem;
margin-top: 1rem;
cursor: pointer;
}
.delbtn{
  width: 15rem;
padding: 1rem 0rem;
margin-top: 1rem;
cursor: pointer;
}
.row2
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.row2 button
{
width: 6rem;
  padding: 1rem 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
 
}